#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* background-color: #e9eaec; */
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
  /* color: antiquewhite; */
}

h1 { font-family: Ubuntu Mono; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: Ubuntu Mono; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: Ubuntu Mono; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Ubuntu Mono; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Ubuntu Mono; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }

span {
  font-family: Ubuntu Mono; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 26.4px; 
}

.yellow {
  color: rgb(188, 183, 49);
}

.brown {
  color: rgba(0, 0, 0, 0.888);
}

.command {
  font-style: italic;
  color: rgba(86, 88, 88, 0.545);
  
}

.command:hover {
  color: blue;
  font-style: normal;
  cursor: pointer;
  /* cursor: crosshair; */
}

.full {
  display: flex;
  flex-direction: row;

}
